*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    will-change: transform;
}
